{% extends 'globals/base.html' %}

{% block title %}Home |  {% endblock title %}
    
{% block content %}    
        <div class="main-container main-content-list container">
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            
        </div>
{% endblock content %}